page-channel {
  ion-content {
    ion-list {
      ion-item.item, .item-inner {
        padding-left: 0;
        min-height: 2rem;
      }

      ion-label.label-md {
        margin: 0 8px 0 0;

        ion-badge.badge-md {
          margin-bottom: 4px;
        }

        span.messageContent {
          font-family: monospace;
          white-space: pre-wrap;
          overflow-wrap: break-word;
        }
      }

      ion-item p.system {
        text-align: center;
        color: lightgray;
        font-style: italic;
      }
    }
  }
}
