<ion-menu [content]="content">
  <ion-content>
    <div class="profile">
      <ion-icon name="person" menuClose (click)="navigateProfile()"></ion-icon>
      <div menuClose (click)="navigateProfile()" class="card-title">{{ user?.alias }}</div>
      <div menuClose (click)="navigateProfile()" class="card-subtitle">{{ user?.firstName }} {{ user?.lastName }}</div>
    </div>
    <ion-list no-lines>
      <button *ngFor="let channel of openChannels" menuClose ion-item (click)="gotoChannel(channel)">
        <ion-badge *ngIf="channel.unread; else noUnread" color="purple">{{channel.unread}}</ion-badge>
        <ng-template #noUnread>
          <ion-icon name="people" item-start></ion-icon>
        </ng-template>
        {{channel.name}}
        <ion-icon name="close-circle" item-end (tap)="leaveChannel(channel) && event.stopPropagation()" color="turquoise"></ion-icon>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
