// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-menu {
  [menuClose] {
    cursor: pointer;
  }

  .profile {
    color: white;
    background-image: url(/assets/img/sunset.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 5em;
    grid-template-columns: 30% 70%;
    padding-bottom: 1em;

    .card-title, .card-subtitle {
      grid-column: 2 / 3;
    }

    ion-icon {
      align-self: center;
      font-size: 3em;
      grid-row: 2 / 4;
      text-align: center;
      text-shadow: 1px 1px #444;
    }

    .card-title {
      font-size: 1.5em;
      font-weight: bold;
      grid-row: 2 / 3;
      text-shadow: 1px 1px #444;
    }

    .card-subtitle {
      font-size: 1.0em;
      width: 100%;
      color: lightgray;
      grid-row: 3 / 4;
    }
  }
}

.scroll-content {
  overflow-y: auto;
}
